

.form-control.ng-touched.ng-invalid {
    border:1px solid red
    ;
   }
   .form-control.ng-touched.ng-valid {
    border:1px solid green;
    
   }
   
   .container {
   
    background-image: url("https://cdn.wallpapersafari.com/9/27/6vY9FU.jpg");
    
    font-family: 'Poppins', sans-serif;
    color: white;
    height: 100vh;
    opacity: 0.7;
    width: 150%;
    font-size: 20px;
 
   
}
