<!--<ul class="list">

  <li *ngFor="let item of arrData" [ngClass]="{'active': arrData[options] === data}"(click)="onClick(arrData)">{{item}}</li>
 
</ul>-->

<p> {{ data }}</p>


<table class="table table-bordered"> 
 <thead class="datatable-header">
 
 <tbody>
        <th >ID</th>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>discountPercentage</th>
        <th>rating</th>
        <th>stock</th>
        <th>brand</th>
        <th>category</th>
        <th>action</th>
     
      
      <!-- <tr *ngFor="let item of data | keyvalue"> -->
      <tr *ngFor="let item of data | keyvalue">

        <!--key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b> -->
          <td>
              {{ data.id }}
            </td>
            <td>
              {{ data.title }}
            </td>
            <td>
              {{ data.description }}
             </td>
             <td>
              {{ data.price }}
             </td>
             <td>
              {{ data.discountPercentage }}
             </td>
             <td>
              {{ data.rating }}
             </td>
             <td>
              {{ data.stock }}
             </td>
             <td>
              {{ data.brand }}
             </td>
             <td>
              {{ data.category }}
            </td>
            <td><button  type="button" 
              class="btn btn-danger"  (click)="openModal(template, data)"
            >Edit</button></td>
            <td> <button type="button"
              class="btn btn-primary" (click)="delete(data.id)"
              >Delete</button> </td>
              <td><button type="button"  class="btn btn-primary" (click)="openFormModal()" class="btn btn-dark">
                Update
              </button></td>
            <ng-template> 
            <div class="modal-header">
              <button type="button" class="close pull-right" aria-label="Close" (click)="closeExit()"></button>
            </div>
            <div class="modal-body">
              <label>Id:</label>
              <input type="text" value="{{data.id}}" class="form-control" formControlName="Id"><br>
           
              <label>Title:</label>
              <input type="text" value="{{ data.title }}" class="form-control"  formControlName="Title"><br>
           
              <label>description:</label>
              <input title="description"  value="{{ data.description }}"type="text" formControlName="description"><br>
           
              <label>price:</label>
              <input price ="price" value=" {{ data.price }}" type="text" formControlName ="price"><br>
           
              <label>discountPercentage: </label>
              <input discountPercentage="discountPercentage" value="{{ data.rating }}" type="text" formControlName="discountPercentage"><br>
           
              <label>rating </label>
              <input rating="rating" type="text"  value="{{ data.stock }}"formControlName="rating"><br>
           
              <label>stock </label>
              <input stock="stock" type="text"  value="{{ data.brand }}"formControlName="stock"><br>
           
              <label>brand</label>
              <input brand="brand" type="text"  value="{{ data.category }}"formControlName="brand"><br>
           
              <label>category</label>
              <input category="category" type="text" formControlName="category"> <br>
              
              <button class="btn btn-outline-primary" (click)="onClickSubmit(updateData)">Save</button>
             
            </div>

          </ng-template>
    
             </tr>
      </tbody>
       </table>
       
        
 
    
        
         
     
        



    
   

        
