<!--<ul class="list">

  <li *ngFor="let item of arrData" [ngClass]="{'active': arrData[options] === data}"(click)="onClick(arrData)">{{item}}</li>
 
</ul>-->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<table class="table table-bordered">
  <!-- <p> {{ data }}</p>  -->
 <thead class="datatable-header">
 
 <tbody>
        <th >ID</th>
        <th>title</th>
        <th>description</th>
        <th>price</th>
        <th>discountPercentage</th>
        <th>rating</th>
        <th>stock</th>
        <th>brand</th>
        <th>category</th>
        <th>action</th>
     
      
      <!-- <tr *ngFor="let item of data | keyvalue"> -->
      <tr *ngFor="let item of data | keyvalue">

        <!--key: <b>{{item.key}}</b> and Value: <b>{{item.value}}</b> -->
          <td>
              {{ data.id }}
            </td>
            <td>
              {{ data.title }}
            </td>
            <td>
              {{ data.description }}
             </td>
             <td>
              {{ data.price }}
             </td>
             <td>
              {{ data.discountPercentage }}
             </td>
             <td>
              {{ data.rating }}
             </td>
             <td>
              {{ data.stock }}
             </td>
             <td>
              {{ data.brand }}
             </td>
             <td>
              {{ data.category }}
            </td>
           <td ><button  type="button"  class="fa fa-pencil fa-2x"
               (click)="openModal(productmodal, data)"></button></td> 
            <td> <button type="button"
              class="fa fa-trash fa-2x" (click)="delete(data.id)"
              ></button> </td>
            
            <ng-template #productmodal> 
          
            <div class="modal-body">
              
              <label>Id:</label>
              <input type="text" value="{{data.id}}" class="form-control" formControlName="Id">
              <br>
           
              <label>Title:</label>
              <input type="text" value="{{data.title}}" class="form-control"  formControlName="Title">
              <br>
           
              <label>Description:</label>
              <input title="description"  value="{{data.description}}"type="text"  class="form-control"  formControlName="description">
              <br>
           
              <label>Price:</label>
              <input price ="price" value=" {{ data.price }}" type="text"  class="form-control"  formControlName ="price">
              <br>
           
              <label>DiscountPercentage:</label>
              <input discountPercentage="discountPercentage" value="{{data.discountPercentage}}" type="text"  class="form-control"  formControlName="discountPercentage">
              <br>
           
              <label>Rating </label>
              <input rating="rating" type="text"   class="form-control"  value="{{ data.rating }}"formControlName="rating">
              <br>
           
              <label>Stock </label>
              <input stock="stock" type="text"  class="form-control"  value="{{data.stock}}"formControlName="stock">
              <br>
           
              <label>Brand</label>
              <input brand="brand" type="text" class="form-control"  value="{{data.brand}}"formControlName="brand">
              <br>
           
              <label>Category</label>
              <input category="category"  class="form-control" type="text" value="{{data.category}}" formControlName="category">
               <br>
              <modal-footer>
                <button type="button" class="btn btn-primary" aria-label="Close" (click)="closeExit()">close</button>
                <td><button type="button"  class="btn btn-primary" (click)="openFormModal()">
                  Update
                </button></td>
              </modal-footer>
              
            
            </div>
       </ng-template> 
     </tr>
      </tbody>
       </table>
       
        
 
    
        
         
     
        



    
   

        
