
<button type="button" class="btn btn-primary" (click)="showStyle()">primary</button>
<div class="card" *ngIf="showStyle"> </div>
<div class="card-body">
    This some text within a card body.


<!--<table>
    <tr>
    <th>id</th> 
    <th><title></title></th>
</tr> 
 <tr *ngFor="let data of arrData">
        <td>
            {{ data.id }}
        </td>
        <td>
            {{ data.title }}
        </td>
    </tr>
</table>-->
<div class="container">
    <h2>Basic Table </h2>

   <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>title</th>
                <th>USER Id</th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of arrData">
                <td>
                    {{ data.id }}
                </td>
                <td>
                    {{ data.title }}
                </td>
              
                 <td>
                    <button type="button" class="btn btn-primary" (click)="editnewData(data)">Edit</button>
                </td>
                <td>
                    <button  type="button" class="btn btn-primary" (submit)="deleteModal(data.id)">Delete </button> 

                </td>
                
               
             
            
        
        </table>  
       
       <div class="from">
            <form [formGroup]="formData">
                <label for="userid">Id</label>
                <input type="text id" id="fname" placeholder="id" formControlName="id">
                <label for="title"><Title></Title> </label>
                <input type="text id" id="title" placeholder="title" formControlName="title">
               <button type="submit" (click)="onclickSubmit(updateData)">update</button>
              
               </form>
        </div>
        <div class="from">
            delete the data
            
            <button type="button" class="btn btn primary" (click)="deleteData()">yes</button>
                <!---<td>
                <button  type="button" class="btn btn-primary" (submit)="Delete(data)">Delete </button> 
             </td>

            <button type="button" class="btn btn primary" (click)="deleteData(data)">Close</button>-->
        </div>
           
            
           

            
        
        
        <app-dashboard [item]="currentItem" (newItemEvent)="addItem($event)"></app-dashboard>
           <!-- <td>
                <button  type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offscreen" (submit)="OnClickSubmit()">Update </button> 
             </td>-->
          

          <!-- <ng-template #template>
            <div class="modal-header">
               <h4 class="modal-title pull-left">Modal</h4>
             <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">×</span>
               </button>
              
 
           
         <div class="modal body">
         <form 
         
             [formGroup]="formdata" [ngsubmit]="onclickSubmit(formdata.value)">
                 <label>Id</label>
                 <input type = "text" next="title" placeholder="title" formControlName =  'id'/>
                 <br/>
                 <label>Title</label>
                 <input type = "text" next="title" placeholder="title" formControlName =  'title'/>
                 <br/>
                 <input type="submit" class="btn btn-primary" value="Update"/>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
                    </div>
         </form>
            </div>
        </div>
   </ng-template>-->

        

     <!--  <div>

        <input>
            id:<input type="text" (ngmodel)="editData">
         
            title:<input value="editData.title"/>
        </div>

         <div class="offcanvas offcanvas-start" id="offscreen">
                <div class="offcanvas-header">
                    <h1 class="offcanvas-title">Update</h1>
                   

                </div>
                <div class="offcanvas-body">
                    <form onsubmit="update">
                    </form>
                    <input type="text" id="id" title="title" placeholder="id"><br>
                    <span id="id" class="text-danger"></span>
                    <span title="title"class="text-danger"></span>

                </div>
             </div>
             <td>
                <button  type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offscreen" (submit)="OnClickSubmit()">Update </button> -->
            
             
             <!--<div>
                <label for="id">id: </label>
                <input id="id" type="text" [formControl]="id">
                <td><button type="button" class="btn btn-danger" (click)="openModalnew(template)">Edit</button></td>
              </div>--> 
           
               <!--<button type="button" class="btn btn-primary" (click)="openModalnew(template)">Open modal</button>
                <div class="mb-1">
                     <div class="btn-group" role="group" aria-label="Basic example">
                         <button (click)="save()" [disabled]="userform.invalid" class="btn btn-primary" type="button">
                             {{id==0 || id==null ?'Save':'Update'}}</button>
                         <button class="btn btn-secondary" type="button">Reset </button>
                         
                     </div>-->

    

       